
header{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
}
button {
  background-color: #F5F1C3; 
  border: none;
  color: Black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
nav{
  background-color: #9BE2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 16px;
  position: sticky;
  top: 20px;
}
.globalNav{
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.nav{
  display: flex;
  align-items: center;
}

.heroImage{
  width: 100%; height: 500px;
  background-image: url("../images/Donation+page+banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heroImageBox{
text-align: left;
position: absolute;
justify-content: left;
top: 50%;
left: 50%;
transform: translate(-150%, 10%);
background-color: rgba(192, 192, 192, 0.5));
filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.8));
padding: 15px;
}
h1{
  color: white;
}
.classCategory{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.heading2{
  display:flex;
  transform: translate(63%, -300%);

}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  transform: translate(25%, 50%);
}
.two {
  grid-column: 2 / 2;
  grid-row: 1;
  transform: translate(0%, 20%);
}
.values{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.three{ grid-column: 1/ 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  transform: translate(25%, 50%);
}
.four {
  grid-column: 2 / 2;
  grid-row: 1;
  transform: translate(13%, 50%);
}
.goal{
  display:flex;
  transform: translate(48%, 240%);
}
.container {
  position: relative;
  max-width: 400px; 
  margin: 0 auto; 
  display: flex;
  transform: translate(-52%, 60%);
}

.container .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 80;
  padding: 20px; 
}
.container2{
  position: relative;
  max-width: 400px; 
  margin: 0 auto; 
  display: flex;
  transform: translate(55%, -40%);
}
.container2 .content2 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 80;
  padding: 20px; 
}
.title{
  display:flex;
  transform: translate(42%, -60%);
}
.parent {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  transform: translate(0%, -5%);
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  transform: translate(-2%, 650%);
}

.contact{
  display: flex;
  transform: translate(10%, 70%);
}
.connect{
  display: flex;
  transform: translate(280%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  
}
.follow{
  display: flex;
  transform: translate(35%, -10%);
}
.followUs{
  display: flex;
  transform: translate(100%, -20%);
  font-family: Arial, Helvetica, sans-serif;
}
.map{
  display: flex;
  transform: translate(65%, -100%);
}
footer{
  background-color: #9BE2F2;
  font-family: Arial, Helvetica, sans-serif;
  
}
.logoImage{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  transform: translate(10%, 100%);
}
.explore{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  transform: translate(40%, -20%);
}
.news{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  transform: translate(70%, -138%);
}
.copyRight{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  transform: translate(10%, 10%);
}